*,
*::before,
*::after {
	box-sizing: border-box;
}

ul[class],
ol[class] {
	padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
}

.container-fluid {
	height: 100vh;
	display: flex;
	background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(7,7,98,0.7458333675266982) 0%, rgba(131,39,184,1) 50%, rgba(0,212,255,1) 100%);
}

.left-side-block,
.right-side-block {
	height: 90vh;
	margin-top: 5vh;
	border-radius: 5px;
	padding: 1vh;
}


.right-side-block {
	margin-left: 5vh;
}

.left-side-block-chat-info {
	max-height: 81vh;
	overflow-x: hidden;
}

.search-row {
	height: 6vh;
	margin-bottom: 5px;
}

.right-side-block-header,
.right-side-block-message-input {
	height: 8vh;
	border-radius: 5px;
}

.right-side-block-chat-message {
	border-radius: 5px;
	height: 75vh;
	overflow-x: hidden;
}

.user-message,
.robot-message {
	min-height: 8vh;
	border-radius: 5px;
	padding: 0 10px;
	width: 50%;
}

.user-message {
	background-color: lightgreen;
	margin-left: 50%;
}

.robot-message {
	background-color: lightgray;
}

.chat-name {
	text-align: center;
}

.search-button {
	height: 100%;
}


